@font-face {
    font-family: 'planetStyle';
    src: url('https://www.serfinanzavirtual-bancoserfinanza.cf/Banca/Personal/fonts/planetStyle.TTF') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('/Personal/Assets/font/Helvetica-Bold.ttf') format('opentype');
}

body {
    background: white;
    overflow: auto;
}

h1,
h2 {
    color: #0067AB;
    font-weight: 400;
    font-family: 'HelveticaNeue-Medium';
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    color: #455a64;
    font-weight: 400;
}

a {
    color: #0066AA;
}

a:hover {
    color: #E31B23;
    text-decoration: underline;
}

label {
    color: #707070;
}

p {
    color: #707070;
}

.sub-tittle-serfi {
    font-family: "HelveticaNeue-Medium";
    line-height: 1.1;
}

.btn-danger,
.btn-danger.disabled {
    background: #E31B23;
    border: 1px solid #E31B23;
}

.btn-danger:hover,
.btn-danger.disabled:hover {
    background: #E31B23;
    opacity: 1;
}

.border-primary {
    border-color: #0067AB !important;
}

.login-content {
    width: auto !important
}

.form-signin1.smallbox {
    margin-top: 10%;
    background: transparent;
    color: #ffffff;
    max-width: 400px;
}

.form-signin1 {
    width: 100%;
    max-width: 510px;
    padding: 5px;
    margin: 40px auto 0 auto;
    color: #000000;
    position: relative;
}

.super {
    position: absolute;
    bottom: 0;
    left: 25px;
    z-index: 999;
}

.login-form {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    width: 360px;
    padding: 25px;
    position: relative;
    text-align: center;
    z-index: 1;
    max-height: 600px;
    background-color: white;
}

.container-form {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    background: white;
    padding: 25px;
    position: relative;
    z-index: 1;
}

.grup-bottons {
    width: auto;
    float: inherit;
    margin-right: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.progress {
    background-color: #352ba0;
}

.content-basic {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.form-control-success {
    color: #0093A6;
}

.info-client {
    position: fixed;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 3.7rem;
    z-index: 1;
}

.menu-navegation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 5.2rem;
    border: 1px solid #c3c3c3;
    background: #ebebeb;
}

.style-table {
    margin-top: 7rem;
}

.header-static .navbar-fixed {
    position: fixed;
    z-index: 1;
}

.content-static {
    margin-top: 7rem;
}

button.keypad-trigger {
    width: 25px;
    padding: 0px;
}

img.keypad-trigger {
    margin: 2px;
    vertical-align: middle;
}

.keypad-popup,
.keypad-inline,
.keypad-key,
.keypad-special {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.keypad-popup {
    display: none;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #888;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.keypad-keyentry {
    display: none;
}

.keypad-inline {
    background-color: #fff;
    border: 1px solid #888;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.keypad-disabled {
    position: absolute;
    z-index: 100;
    background-color: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.keypad-rtl {
    direction: rtl;
}

.keypad-prompt {
    clear: both;
    text-align: center;
}

.keypad-prompt.ui-widget-header {
    margin: 0.125em;
}

.keypad-row {
    width: 100%;
}

.keypad-space {
    display: inline-block;
    margin: 0.125em;
    width: 2em;
}

.keypad-half-space {
    display: inline-block;
    margin: 0.125em 0.0625em;
    width: 1em;
}

.keypad-key,
.keypad-special {
    margin: 0.125em;
    padding: 0em;
    width: 2em;
    background-color: #f4f4f4;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    text-align: center;
    cursor: pointer;
}

.keypad-key[disabled] {
    border: 0.125em outset;
}

.keypad-key-down {}

.keypad-special {
    width: 4.25em;
}

.keypad-spacebar {
    width: 13.25em;
}

.keypad-tab {
    width: 2em;
}

.keypad-clear,
.keypad-back,
.keypad-close,
.keypad-shift {
    color: #fff;
    font-weight: bold;
}

.keypad-clear {
    background-color: #a00;
}

.keypad-back {
    background-color: #00a;
}

.keypad-close {
    background-color: #0a0;
}

.keypad-shift {
    background-color: #0aa;
}

.keypad-popup .keypad-row .keypad-special {
    width: 5rem;
    background: #0066AA;
}

.keypad-popup .keypad-row .keypad-clear {
    background: #d45959;
}

.keypad-popup .keypad-row .keypad-back {
    background: #676767;
}

.nav-pills {
    border-bottom: 1px solid #dee2e6;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0066AA !important;
}

.no-borders {
    background-color: white;
    border: 0px solid;
}

.input-no-border {
    position: relative;
    margin: auto;
    width: 100%;
}

.input-no-border .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.input-no-border .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.input-no-border input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #707070;
    transition: all 0.15s ease;
}

.input-no-border input:hover {
    background: rgba(34, 50, 84, 0.03);
    border-bottom: 2px solid #0067AB;
}

.input-no-border input:not(:placeholder-shown)+span {
    color: #0067AB;
    transform: translateY(-26px) scale(0.75);
}

.input-no-border input:focus {
    background: none;
    outline: none;
    border-bottom: 2px solid #0067AB;
}

.input-no-border input:focus+span {
    color: #0067AB;
    transform: translateY(-26px) scale(0.75);
}

.input-no-border input:focus+span+.border {
    transform: scaleX(1);
    color: #0067AB;
    border-bottom: 2px solid #0067AB;
}

/*-------*/

.contenedor-serfi,
.contenedor-serfi-logout {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 170px auto 0;
    padding: 25px;
    background-color: white;
    border: #0067AB 1px solid !important;
}

.contenedor-serfi-logout {
    margin: 0 auto;
}

main {
    width: 100%;
}

/*---- Media Querys ---*/

@media only screen and (max-width: 507px) {
    .login-form {
        width: 74%;
        padding: 10px;
    }
    .super {
        left: 13px;
    }
}

@media only screen and (max-width: 449px) {
    .login-form {
        width: 74%;
        padding: 10px;
    }
    .super {
        left: 0px;
    }
}

